body {
    margin: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
}

//START:circle-using-div
.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #000000;
}

@for $index from 1 through 50 {
    @keyframes moving-circle-#{$index} {
        100% {
            transform: translate((random(100) * 1vw), (random(100) * 1vh));
        }
    }
    .circle:nth-child(#{$index}) {
        transform: translate((random(100) * 1vw), (random(100) * 1vh));
        animation: moving-circle-#{$index} 60s infinite linear;
        animation-delay: -$index * 0.005s;
    }
}

//END:circle-using-div


//START:circle-using-canvas

//END:circle-using-canvas